/* custom reset by Josh Comeau 
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}
:root {
  --color-dark: #2a272a;
  --color-gray: #4b4a54;
  --color-blue-gray: #677381;
  --color-blue: #82a0aa;
  --color-light: #a3cfcd;
  --font: "veteran typewrite";
}
@font-face {
  font-family: veteran typewriter;
  src: url(fonts/veteran\ typewriter.ttf);
}

html {
  background-color: var(--color-dark);
  font-family: veteran typewriter;
  font-size: 24px;
}
/*HEADER*/
header {
  background-color: var(--color-blue);
}
.header-navigation {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
a {
  padding-block: 1rem;
  text-decoration: none;
  color: var(--color-dark-gray);
}
a:hover {
  color: var(--color--light);
}
/*Main*/
section {
  border-top: 1px var(--color-blue) solid;
}
#videos {
  display: flex;
  align-items: center;
  justify-content: center;
}
